body {
    font-family: poppins;
    background-image:  url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
}

h1 {
    color: white;
    font-weight: 700;
}

p {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
    grid-gap: 25px;
    width: 80vw;
    margin: auto;
    align-items: center;
    border: 2px solid green;
}

.left-section {
    border: 2px solid blue;
    
    justify-self: center;

}

.right-section {
    border: 2px solid yellow;
    height: 80vh;
    display: flex;
    flex-direction: column;
    
}

.free-trial {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
}

.form-area {
    display: flex;
    flex-direction: column;
    background-color: white;
}


form {
    display: flex;
    flex-direction: column;
}

input {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px hsl(246, 25%, 77%);
    
}

.submit {
    margin-top: 30px;
    height: 40px;
}


.terms {
    font-size: 10px;
    color: hsl(248, 7%, 58%);
}

