body {
    font-family: poppins;
    background-image:  url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 42px;
}

p {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
    grid-gap: 150px;
    padding: 0 50px;
    width: 80vw;
    max-width: 1110px;
    margin: auto;
    align-items: center;

}

/* Media query for main grid */
@media only screen and (max-width: 740px) {
    main {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        padding: 0;
        width: 90vw;
        grid-template-rows: 1fr;
    }

    h1 {
        text-align: center;
        font-size: 32px;
    }

    p {
        text-align: center;
    }
  }




.left-section {
    justify-self: center;

}

.right-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.free-trial {
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    box-shadow: 0px 6px 2px 0px rgba(0,0,0,0.18);
    text-align: center;
    margin-top: auto;
}

.form-area {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 2px 0px rgba(0,0,0,0.18);
    margin-bottom: auto;
}

.label {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

input::placeholder {
    font-family: poppins;
    font-weight: 600;  
    color: black;
}

input {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px hsl(246, 25%, 77%);
    text-indent: 20px;
   
}


  .error {
      display: flex;
      color: hsl(0, 100%, 74%);
      font-size: 11px;
      align-self: flex-end;
      margin-right: 30px;
      margin-top: -5px;
      margin-bottom: 0px;
      display: none;
  }


.submit {
    margin: 10px 30px;
    height: 40px;
    background-color: rgb(56, 203, 139);
    color: white;
    text-transform: uppercase;
    font-family: poppins;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 1px 0px rgba(31, 153, 100, 1);

}

.submit:hover {
    transition: .3s ease;
    cursor: pointer;
    transform: translateY(-1px);
    
}


.terms {
    font-size: 11px;
    padding-bottom: 20px;
    color: hsl(248, 7%, 58%);
    text-align: center;
   
}

.terms a {
    text-decoration: none;
    color:hsl(0, 100%, 74%) ;
}

